:root {
    --exo2: "Exo 2", sans-serif;
    --poppins: "Poppins", sans-serif;
    --white: #fff;
    --bg-color: #1c1818;
    --hover-color: #9e2c2c;
    --black: #010101;
    --light-color: #8bd8bd;
  }

// FOOTER

footer {
    background-color: var(--bg-color);
    border-top: 1px solid #f1f2f50c;
    .footer-first-part{
      border-bottom: 1px solid #f1f2f50c;
    }
    h3 {
      font-family: var(--exo2);
      text-transform: uppercase;
      color: var(--white);
      font-weight: bolder;
      svg {
        path {
          fill: var(--light-color);
        }
      }
    }
  
    h2,
    a {
      font-family: var(--poppins);
      font-weight: normal;
      color: var(--light-color);
      text-transform: lowercase;
      transition: opacity 0.5s;
      &:hover:not(h2) {
        opacity: 0.7;
      }
    }
  
    .company-link {
      border-bottom: 2px solid var(--light-color);
    }
  
    .social {
      svg {
        padding: 1px;
        fill: var(--light-color);
        transition: all 0.5s;
        &:hover {
          opacity: 0.5;
        }
      }
      svg:first-child {
        fill: none;
      }
    }
  }
  