:root {
    --exo2: 'Andika New Basic', sans-serif;
    --poppins: "Poppins", sans-serif;
    --white: #fff;
    --bg-color: #1c1818;
    --hover-color: #9e2c2c;
    --black: #010101;
    --light-color: #8bd8bd;
  }

// FOOTER

footer {
    background-color: var(--bg-color);
    border-top: 1px solid #f1f2f50c;
    .footer-first-part{
      border-bottom: 1px solid #f1f2f50c;
    }
    h3 {
      font-family: var(--exo2);
      text-transform: uppercase;
      letter-spacing: 3px;
       color: var(--light-color);

      font-weight: bolder;
      &:nth-child(3) {
        letter-spacing: normal;
      }
      &:nth-child(5) {
        letter-spacing: normal;
      }
      svg {
        path {
          fill: var(--light-color);
        }
      }
    }
  
    h2,
    button,
    a {
      font-family: var(--poppins);
      font-weight: normal;
    color: var(--white);
      text-transform: lowercase;
      transition: opacity 0.5s;
      &:hover:not(h2) {
        opacity: 0.7;
      }
    }
  
    .company-link {
      border-bottom: 2px solid var(--light-color);
    }
  
    .social {
      svg {
        padding: 1px;
        fill: var(--light-color);
        transition: all 0.5s;
        &:hover {
          opacity: 0.5;
        }
      }
      svg:first-child {
        fill: none;
      }
    }
  }
  