// NAVBAR
:root {
  --exo2: "Exo 2", sans-serif;
  --poppins: "Poppins", sans-serif;
  --white: #fff;
  --bg-color: #1c1818;
  --hover-color: #9e2c2c;
  --black: #010101;
  --light-color: #95918F;
}
.active {
  transition: all 0.5s;
  color: #95918F;
}

nav {
  background-color: var(--bg-color);
  .dropdown:hover .dropdown-menu {
    display: block;
  }

  // DROPDOWN MENU

  .dropdown-menu {
    margin-top: 30px;
    background-color: var(--bg-color);
    opacity: .9;
    padding: 6px;
color: #fff;
    text-align: left;
    text-transform: capitalize;
  
    padding: 10px 20px 10px 0;
  button {
    outline: none;
  }
  }
  form li a {
     &:hover {
      transform: translateX(5px);
    }
    margin-top: 7px;
   
  }
  form li a:last-child {
    background-color: transparent;

    padding: 0;
  }
  li {
    margin-left: 20px;
&:hover {
   transition: all 0.5s;
       
}
    a {
      font-family: var(--poppins);
      color: var(--white);
      transition: all 0.3s;
      &:hover {
     
        opacity: 0.6;
      }
    }
    &::after {
      content: "";
      background-color: var(--hover-color);
      position: absolute;
      top: 3rem;
      left: 10rem;
    }
    &:last-child {
      a {
        // background-color: #b4d2a7;
        //background-color: #3c4f76;
        background-color: #4E4A4A;
        
        color: #ffffff;
        font-weight: 500;
        padding: 8px 13px;
      }
    }
  }
}

.humberger {
  width: 30px;
  height: 30px;
  position: absolute;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  right: 2rem;
  display: none;
  .bar {
    display: inline-block;
    width: 30px;
    height: 2px;
    background-color: #fff;
    position: relative;
    transition: all 0.3s;
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #fff;
      transition: all 0.3s;
    }

    &::before {
      transform: translateY(-10px);
    }
    &::after {
      transform: translateY(10px);
    }
  }
}

@media (max-width: 800px) {
  // NAVBAR MOBILE

  .nav-list {
   .dropdown{
    display: flex;
    }
    .dropdown-menu{
      text-align: center;
      padding-left: 10px;
    }
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
    transition: transform 0.3s;
    li {
      margin: 10px 0;
      a {
       
        font-size: 20px;
        padding: 8px 20px;
        margin: 1px;
        transition: all 0.3s;
        &:hover {
         
        }
      }
    }
    &:last-child {
      a {
     

        &:hover {
          border: 0;
         
        }
      }
    }
  }

  .humberger {
    display: flex;
    z-index: 999;
  }

  #humberger-toggle:checked ~ .nav-list {
    transform: none;
  }

  #humberger-toggle:checked ~ .humberger .bar::before {
    transform: rotate(45deg);
  }
  #humberger-toggle:checked ~ .humberger .bar {
    background-color: transparent;
  }
  #humberger-toggle:checked ~ .humberger .bar::after {
    transform: rotate(-45deg);
  }
}
