:root {
  --exo2: "Exo 2", sans-serif;
  --poppins: "Poppins", sans-serif;
  --white: #fff;
  --bg-color: #1c1818;
  --hover-color: #9e2c2c;
  --black: #010101;
  --light-color: #8bd8bd;
  --product-box-shadow: rgba(139, 216, 189, 0.151);
}
body,
html {
  background-color: var(--bg-color);
}

.active {
  color: var(--hover-color);
}

// TITLE

.title {
  margin-top: 72px;
  background-color: var(--bg-color);
  border-bottom: 1px solid #f1f2f50c;

  // CATEGORY

  .category {
    h2 {
      font-family: var(--exo2);
      color: var(--light-color);
    }
  }

  // TABS

  .tabs {
    border-radius: 50px;
    background: linear-gradient(145deg, #191616, #1e1a1a);
    box-shadow: 10px 10px 10px #181414, -10px -10px 10px #201c1c;
  }
}

// TABS CONTENT

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

// PRODUCT

.product-box {
  background: linear-gradient(145deg, #191616, #1e1a1a);
  box-shadow: 10px 10px 10px #181414, -10px -10px 10px #201c1c;
  transition: all 0.5s;
  width: 240px;
  height: 350px;
  h3 {
    color: var(--light-color);
  }
  h2,
  p {
    color: var(--white);
  }

  &:hover {
    box-shadow: inset 20px 20px 30px #181414, inset -20px -20px 30px #201c1c;
  }
}

@media (max-width: 640px) {
  .tabs-container {
    label{
      border:2px solid #f1f2f50c;
    }
    label::after {
      content: "+";
      font-weight: bold;
      margin-left: 4rem;
    }
    input:checked + label::after {
      content: "-";
      font-weight: bold;
      margin-left: 4rem;
    }

    .tabs {
      display: none;
    }

    input:checked ~ .tabs {
      display: block;
      box-shadow: 0 0 0;
      background: var(--bg-color);
    }
  }
}
