
@media (max-width: 800px) {
  // WELCOME IMAGE MOBILE

  .landing {
    height: 400px;
    img, .btns{
      height: 400px;
    }
   
   
  }
  
  .collection {
    form {
   
    h3 {
      width: 250px;
    }
  }
  .circle {
    width: 260px;
    height: 260px;
  }
  .category-btn {
    width: 250px;
    height: 250px;
    img {
      width: 250px;
      height: 250px;
    }
  }
}
  // ABOUT MOBILE

  .about-img {
    width: 90%;
    margin-right: 0;
  }
  .about-content {
    width: 90%;
    margin-left: 0;
    margin-top: 4rem;
  }
  .about {
    box-sizing: border-box;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }

  // COMPANY FACTS MOBILE

  .company-facts {
    position: relative;
    width: auto;
    height: 600px;
    background-size: cover;
  }

  // PARALLAX

.parallax-window {
  height: 600px;
    background: transparent;
}
 
}

@media (max-width: 500px) {
 .landing {
    height: 250px;
    img, .btns{
      height: 250px;
    }
   
  }
}
