@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@500&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spectral&display=swap");
:root {
  --exo2: "Spectral", serif;
  --poppins: "Poppins", sans-serif;

  --white: #fff;
  --bg-color: #1c1818;
  --hover-color: #9e2c2c;
  --black: #010101;
  --light-color: #8bd8bd;
  --gillory: "Spectral", serif;
}

@keyframes slide-in {
  from {
    transform: translateY(-1em) rotate(-0.5turn) scale(0.5);
    opacity: 0;
  }
}
html,
body {
  background-color: var(--bg-color);
  overflow-x: hidden;
  box-sizing: border-box;
}
.parallax-window {
  height: 400px;
  background: transparent;
}

@font-face {
  font-family: "Gillory";
  src: url("../images/Gilroy-FREE/Gilroy-Light.otf");
}

.landing {

 
  margin-top: 68.84px;
 


  img,
  .btns {
    width: 100%;
    height: calc(100vh - 68.84px);
  }
}
.swing-in-top-fwd {
  animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

@keyframes swing-in-top-fwd {
  0% {
    transform: rotateX(-100deg);
    transform-origin: top;
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1;
  }
}
// ABOUT

.about-img {
  width: 31rem;
  margin-right: 1.25rem;
  box-shadow: -10px 10px 0 10px rgba(71, 62, 62, 0.35),
    -20px 20px 0 20px rgba(32, 28, 28, 1);
}
.about-content {
  width: 30rem;
  margin-left: 1.25rem;
  p {
    font-family: var(--poppins);
    color: #f1f1f1;
  }
  h2 {
    color: var(--white);
    font-family: var(--gillory);
    font-weight: 600;
    letter-spacing: 3px;
    // text-shadow: 0 -5px 0 var(--hover-color)
    //  0 2px 0 var(--white),
    //  0 3px 0 var(--white),
    //  0 4px 0 var(--white),
    //  0 5px 1px var(--white)
  }
}

// COLLECTION
h3 {
}

.svg-left {
  height: 600px;
  position: absolute;
}

.collection {
  .splide__arrow {
      top: 45%;
    }
  .splide__track {
    width: 80%;
   
  }
  .wrapper {
    input {
      outline: none;
    }
  }
  form {
    h3 {
      width: 325px;
    }
  }
  .category-btn {
    width: 325px;
    height: 325px;
    outline: none;

    &:hover + h3 {
      color: var(--light-color);
    }
  }
  .circle {
    border: 6px dashed #ffffff;

    width: 335px;
    height: 335px;
    opacity: 0.8;
    border-radius: 50%;
    background-clip: content-box;
    animation: spin 9s linear infinite;
  }
  @keyframes spin {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  h3 {
    font-family: var(--poppins);
  }
  .collection-title {
    color: var(--white);
    font-family: var(--gillory);
    font-weight: 600;
    letter-spacing: 0px;
    span {
      padding: 5px 10px;
    }
  }

  img {
    width: 325px;
    height: 325px;
    position: absolute;
    top: 5px;
    z-index: 99;
    border-radius: 50%;
    transition: 0.5s;
    opacity: 0.6;
    &:hover {
      opacity: 1;
    }
    &:hover + .circle {
      border: 6px solid #fff;
    }
  }
}

// PRODUCTS

.product {
  h3 {
    font-family: var(--poppins);
  }
  .product-title {
    color: var(--white);
    font-family: var(--gillory);
    font-weight: 600;
  }
  .splide__track {
    width: 80%;
    .splide__list {
      .splide__slide {
        width: 260px;
        position: relative;

        &:before {
          content: "";
          position: absolute;
          left: 50%;
          top: 50%;

          transform: translate(-50%, -50%);

          background: rgba(255, 255, 255, 0.2);
          height: 0;
          width: 0;
          opacity: 0;
        }
        &:hover::before {
          -webkit-animation: circle 0.75s;
          z-index: 200;
          animation: circle 0.75s;
        }
        @-webkit-keyframes circle {
          0% {
            opacity: 1;
          }
          40% {
            opacity: 1;
          }
          100% {
            width: 260px;
            height: 500px;
            opacity: 0;
          }
        }
        @keyframes circle {
          0% {
            opacity: 1;
          }
          40% {
            opacity: 1;
          }
          100% {
            width: 260px;
            height: 500px;
            opacity: 0;
          }
        }
        img {
          border: 6px solid rgba(80, 75, 75, 0.35);
          width: 260px;
          height: 500px;
        }
      }
    }
  }
}

// COMPANY FACTS

.company-facts {
  position: relative;
  width: 100%;
  height: 400px;
  background-size: cover;
  .facts-content {
    position: absolute;
    z-index: 2;
    font-family: var(--poppins);

    .facts-title {
      width: 280px;
      background: #4e4a4a71;
      color: var(--white);
      font-family: var(--gillory);
      font-weight: 400;
    }
  }
}

//SVG-RIGHT

.svg-left {
  top: 93rem;
}

.svg-2-left {
  top: 140rem;
  left: -3rem;
}

// Enquiry

.enquiry {
  background-color: #4e4a4a;

  margin-top: -6px;

  section,
  a {
    color: #fff;
    font-family: var(--poppins);
  }
  a {
    border: 1px solid #fff;
    transition: 0.3s;
    &:hover {
      background: var(--bg-color);
    }
  }
}

// ANIMATION

[data-aos="slide-title"] {
  opacity: 0;
  letter-spacing: 1em;
  transition-property: transform, opacity;

  &.aos-animate {
    opacity: 1;
    letter-spacing: normal;
  }

  @media screen and (min-width: 768px) {
    transform: translateX(200px);

    &.aos-animate {
      transform: translateX(0);
    }
  }
}
