@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@500&family=Poppins&display=swap");
:root {
  --exo2: "Exo 2", sans-serif;
  --poppins: "Poppins", sans-serif;
  --white: #fff;
  --bg-color: #1c1818;
  --hover-color: #9e2c2c;
  --black: #010101;
  --light-color: #8bd8bd;
}
body {
  background-color: var(--bg-color);
}

.landing {
  background: url(../images/landingImg.png) no-repeat center;
  background-size: cover;
  height: 100vh;
}

// ABOUT

.about-img {
  width: 30rem;
  margin-right: 1.25rem;
  box-shadow: -10px 10px 0 10px rgba(71, 62, 62, 0.35),
    -20px 20px 0 20px rgba(32, 28, 28, 1);
}
.about-content {
  width: 30rem;
  margin-left: 1.25rem;
  p {
    font-family: var(--poppins);
    color: #f1f1f1;
  }
  h2 {
    color: var(--light-color);
    font-family: var(--exo2);
    // text-shadow: 0 -5px 0 var(--hover-color)
    //  0 2px 0 var(--white),
    //  0 3px 0 var(--white),
    //  0 4px 0 var(--white),
    //  0 5px 1px var(--white)
  }
}

// COLLECTION

.collection {
  h3 {
    font-family: var(--poppins);
  }
  .collection-title {
    color: var(--light-color);
    font-family: var(--exo2);
  }
  img {
    width: 325px;
    height: 325px;
    border: 5px solid var(--light-color);
    border-radius: 50%;
  }
}

// PRODUCTS

.product {
  h3 {
    font-family: var(--poppins);
  }
  .product-title {
    color: var(--light-color);
    font-family: var(--exo2);
  }
  img {
    width: 250px;
    height: 500px;
    border: 5px solid var(--light-color);
  }
}

// COMPANY FACTS

.company-facts {
  background: url(../images/cusImg.png) no-repeat center;
  position: relative;
  width: 100%;
  height: 400px;
  background-size: cover;
  .facts-content {
    position: absolute;
    z-index: 2;
    font-family: var(--poppins);

    .facts-title {
      width: 280px;
      background-color: rgba(222, 191, 157, 0.49);
      font-family: var(--exo2);
    }
  }
}

// Enquiry

.enquiry {
  background-color: var(--hover-color);

  section,
  a {
    color: var(--light-color);
    font-family: var(--poppins);
  }
  a {
    border: 1px solid var(--light-color);
    transition: 0.3s;
    &:hover {
      background: var(--bg-color);
    }
  }
}

@media (max-width: 800px) {
  // WELCOME IMAGE MOBILE

  .landing {
    height: 350px;
  }

  // ABOUT MOBILE

  .about-img {
    width: 90%;
    margin-right: 0;
  }
  .about-content {
    width: 90%;
    margin-left: 0;
    margin-top: 4rem;
  }
  .about {
    box-sizing: border-box;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }

  // COMPANY FACTS MOBILE

  .company-facts {
    position: relative;
    width: auto;
    height: 600px;
    background-size: cover;
  }

  .enquiry {
    margin-top: -5.3px;
  }
}
