@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@500&family=Poppins&display=swap");
:root {
  --exo2: "Exo 2", sans-serif;
  --poppins: "Poppins", sans-serif;
  --white: #fff;
  --bg-color: #1c1818;
  --hover-color: #9e2c2c;
  --black: #010101;
  --light-color: #8bd8bd;
  --gillory: "Gillory";
}


.splitting .char {
  animation: slide-in 1s cubic-bezier(.5, 0, .5, 1) both;
  animation-delay: calc(60ms * var(--char-index));
}

@keyframes slide-in {
  from {
    transform: translateY(-1em) rotate(-.5turn) scale(0.5);
    opacity: 0;
  }
}

body {
  background-color: var(--bg-color);

  box-sizing: border-box;
}
.parallax-window {
  height: 400px;
    background: transparent;
}
.preloader {
  width: 100%;
  height: 100vh;
  background: #fff;
 
  margin: 0;
  padding: 0;

  position: fixed;
  z-index: 99;
  button {
    position: fixed;
     top: 50%;
      transform: translate(-50%, -50%);
  left: 50%;
    height: 40px;
    width: 40px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    border: 1px solid #1d9af2;
    opacity: 1;
    animation: spinner4 800ms linear infinite;
  }
  @keyframes spinner4 {
    to {
      transform: scale(1.5);
      opacity: 0;
    }
  }
}

@font-face {
  font-family: "Gillory";
  src: url("../images/Gilroy-FREE/Gilroy-Light.otf");
}

.landing {
  overflow-x: hidden;

  .splide__slide {
    background-image: url("../images/1.jpg");

    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.swing-in-top-fwd {
  animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

@keyframes swing-in-top-fwd {
  0% {
    transform: rotateX(-100deg);
    transform-origin: top;
    opacity: 0;
  }
  100% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1;
  }
}
// ABOUT

.about-img {
  width: 31rem;
  margin-right: 1.25rem;
  box-shadow: -10px 10px 0 10px rgba(71, 62, 62, 0.35),
    -20px 20px 0 20px rgba(32, 28, 28, 1);
}
.about-content {
  width: 30rem;
  margin-left: 1.25rem;
  p {
    font-family: var(--poppins);
    color: #f1f1f1;
  }
  h2 {
    color: var(--light-color);
    font-family: var(--gillory);
    font-weight: 600;
    // text-shadow: 0 -5px 0 var(--hover-color)
    //  0 2px 0 var(--white),
    //  0 3px 0 var(--white),
    //  0 4px 0 var(--white),
    //  0 5px 1px var(--white)
  }
}

// COLLECTION
h3 {
  
}
.collection {
 width: auto;
  .wrapper {
    input {
      outline: none;
    }
  }
  form {
    h3 {
      width: 325px;
    }
  }
  .category-btn {
    width: 325px;
    height: 325px;
    outline: none;

    &:hover + h3 {
      color: var(--light-color);
    
    }
  }
  .circle {
    border: 5px solid #393d44;
    border-top: 5px solid #ffffff73;
    width: 335px;
    height: 335px;
    opacity: 0.8;
    border-radius: 50%;
    background-clip: content-box;
    animation: spin 3s linear infinite;
  }
  @keyframes spin {
    0% {
      opacity: 0.5;
    }
    100% {
      transform: rotateZ(360deg);
      opacity: 1;
    }
  }
  h3 {
    font-family: var(--poppins);
  }
  .collection-title {
    color: var(--light-color);
    font-family: var(--gillory);
    font-weight: 600;
    letter-spacing: 1px;
    span {
      padding: 5px 10px;
    }
  }

  img {
    width: 325px;
    height: 325px;
    position: absolute;
    top: 5px;

    border-radius: 50%;
    transition: 0.5s;
    &:hover {
      filter: blur(2px);
      transform: rotate(-20deg);
    }
  }
}

// PRODUCTS

.product {
  h3 {
    font-family: var(--poppins);
  }
  .product-title {
    color: var(--light-color);
    font-family: var(--gillory);
    font-weight: 600;
  }
  .splide__list {
    width: auto;
    img {
      width: 230px;
      height: 440px;
    }
  }
}

// COMPANY FACTS

.company-facts {
 
  position: relative;
  width: 100%;
  height: 400px;
  background-size: cover;
  .facts-content {
    position: absolute;
    z-index: 2;
    font-family: var(--poppins);

    .facts-title {
      width: 280px;
      background-color: rgba(222, 191, 157, 0.49);
      font-family: var(--gillory);
      font-weight: 600;
    }
  }
}

//SVG-RIGHT

.svg-left{
  top: 93rem;
}

.svg-2-left {


  top: 140rem;
  left: -3rem;
}

// Enquiry

.enquiry {
  background-color: var(--hover-color);
  margin-top: -6px;
  color: #fff;
  section,
  a {
   
    font-family: var(--poppins);
  }
  a {
    border: 1px solid #fff;
    transition: 0.3s;
    &:hover {
      background: var(--bg-color);
    }
  }
}

// ANIMATION

[data-aos="slide-title"] {
  opacity: 0;
  letter-spacing: 1em;
  transition-property: transform, opacity;

  &.aos-animate {
    opacity: 1;
    letter-spacing: normal;
  }

  @media screen and (min-width: 768px) {
    transform: translateX(200px);

    &.aos-animate {
      transform: translateX(0);
    }
  }
}
