@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@500&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Andika+New+Basic&family=JetBrains+Mono&family=Montserrat&display=swap");
:root {
  --exo2: "Andika New Basic", sans-serif;
  --poppins: "Poppins", sans-serif;
  --white: #fff;
  --bg-color: #1c1818;
  --hover-color: #9e2c2c;
  --black: #010101;
  --light-color: #8bd8bd;
  --gillory: "Andika New Basic", sans-serif;
}

@-webkit-keyframes slide-in {
  from {
    -webkit-transform: translateY(-1em) rotate(-0.5turn) scale(0.5);
            transform: translateY(-1em) rotate(-0.5turn) scale(0.5);
    opacity: 0;
  }
}

@keyframes slide-in {
  from {
    -webkit-transform: translateY(-1em) rotate(-0.5turn) scale(0.5);
            transform: translateY(-1em) rotate(-0.5turn) scale(0.5);
    opacity: 0;
  }
}

body {
  background-color: var(--bg-color);
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.parallax-window {
  height: 400px;
  background: transparent;
}

.preloader {
  width: 100vw;
  height: 100vh;
  background: #fff;
  margin: 0;
  padding: 0;
  position: fixed;
  z-index: 99;
}

.preloader button {
  position: fixed;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  height: 40px;
  width: 40px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  border: 1px solid #1d9af2;
  opacity: 1;
  -webkit-animation: spinner4 800ms linear infinite;
          animation: spinner4 800ms linear infinite;
}

@-webkit-keyframes spinner4 {
  to {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes spinner4 {
  to {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}

@font-face {
  font-family: "Gillory";
  src: url("../images/Gilroy-FREE/Gilroy-Light.otf");
}

.landing {
  overflow-x: hidden;
}

.landing .splide__slide {
  background-image: url("../images/1.jpg");
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.swing-in-top-fwd {
  -webkit-animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
          animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}

@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
            transform: rotateX(-100deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
    -webkit-transform-origin: top;
            transform-origin: top;
    opacity: 1;
  }
}

.about-img {
  width: 31rem;
  margin-right: 1.25rem;
  -webkit-box-shadow: -10px 10px 0 10px rgba(71, 62, 62, 0.35), -20px 20px 0 20px #201c1c;
          box-shadow: -10px 10px 0 10px rgba(71, 62, 62, 0.35), -20px 20px 0 20px #201c1c;
}

.about-content {
  width: 30rem;
  margin-left: 1.25rem;
}

.about-content p {
  font-family: var(--poppins);
  color: #f1f1f1;
}

.about-content h2 {
  color: var(--white);
  font-family: var(--gillory);
  font-weight: 600;
}

.svg-left {
  height: 600px;
  position: absolute;
}

.collection {
  width: auto;
}

.collection .splide__track {
  width: 80%;
}

.collection .wrapper input {
  outline: none;
}

.collection form h3 {
  width: 325px;
}

.collection .category-btn {
  width: 325px;
  height: 325px;
  outline: none;
}

.collection .category-btn:hover + h3 {
  color: var(--light-color);
}

.collection .circle {
  border: 6px dashed #ffffff;
  width: 335px;
  height: 335px;
  opacity: 0.8;
  border-radius: 50%;
  background-clip: content-box;
  -webkit-animation: spin 9s linear infinite;
          animation: spin 9s linear infinite;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

.collection h3 {
  font-family: var(--poppins);
}

.collection .collection-title {
  color: var(--white);
  font-family: var(--gillory);
  font-weight: 600;
  letter-spacing: 1px;
}

.collection .collection-title span {
  padding: 5px 10px;
}

.collection img {
  width: 325px;
  height: 325px;
  position: absolute;
  top: 5px;
  z-index: 99;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0.6;
}

.collection img:hover {
  opacity: 1;
}

.collection img:hover + .circle {
  border: 6px solid #fff;
}

.product h3 {
  font-family: var(--poppins);
}

.product .product-title {
  color: var(--white);
  font-family: var(--gillory);
  font-weight: 600;
}

.product .splide__track {
  width: 80%;
}

.product .splide__track .splide__list .splide__slide {
  width: 260px;
}

.product .splide__track .splide__list .splide__slide img {
  width: 230px;
  height: 500px;
}

.company-facts {
  position: relative;
  width: 100%;
  height: 400px;
  background-size: cover;
}

.company-facts .facts-content {
  position: absolute;
  z-index: 2;
  font-family: var(--poppins);
}

.company-facts .facts-content .facts-title {
  width: 280px;
  background: #4e4a4a71;
  color: var(--white);
  font-family: var(--gillory);
  font-weight: 400;
}

.svg-left {
  top: 93rem;
}

.svg-2-left {
  top: 140rem;
  left: -3rem;
}

.enquiry {
  background-color: #4e4a4a;
  margin-top: -6px;
}

.enquiry section,
.enquiry a {
  color: #fff;
  font-family: var(--poppins);
}

.enquiry a {
  border: 1px solid #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.enquiry a:hover {
  background: var(--bg-color);
}

[data-aos="slide-title"] {
  opacity: 0;
  letter-spacing: 1em;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}

[data-aos="slide-title"].aos-animate {
  opacity: 1;
  letter-spacing: normal;
}

@media screen and (min-width: 768px) {
  [data-aos="slide-title"] {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
  }
  [data-aos="slide-title"].aos-animate {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
/*# sourceMappingURL=style.css.map */