@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@500&family=Poppins&display=swap");
:root {
  --exo2: "Exo 2", sans-serif;
  --poppins: "Poppins", sans-serif;
  --white: #fff;
  --bg-color: #1c1818;
  --hover-color: #9e2c2c;
  --black: #010101;
  --light-color: #debf9d;
}
body {
  background-color: var(--bg-color);
}

// .landing {
//   background: url(../images/landingImg.png) no-repeat center;
//   background-size: cover;
//   height: 100vh;
// }

// NAVBAR

nav {
  background-color: var(--bg-color);
  li {
    margin-left: 20px;

    a {
      font-family: var(--poppins);
      color: var(--white);
      transition: all 0.3s;
      &:hover,
      .active {
        color: var(--hover-color);
        transition: all 0.3s;
        border-bottom: 1px solid var(--hover-color);
      }
    }
    &::after {
      content: "";
      background-color: var(--hover-color);
      position: absolute;
      top: 3rem;
      left: 10rem;
    }
    &:last-child {
      a {
        background-color: var(--hover-color);
        padding: 8px 13px;
        color: var(--white);
        &:hover,
        .active {
          border-bottom: 1px solid var(--white);
          color: var(--bg-color);
        }
      }
    }
  }
}

.humberger {
  width: 30px;
  height: 30px;
  position: absolute;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  right: 2rem;
  display: none;
  .bar {
    display: inline-block;
    width: 30px;
    height: 2px;
    background-color: #fff;
    position: relative;
    transition: all 0.3s;
    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #fff;
      transition: all 0.3s;
    }

    &::before {
      transform: translateY(-10px);
    }
    &::after {
      transform: translateY(10px);
    }
  }
}

// ABOUT

.about-img {
  width: 30rem;
  margin-right: 1.25rem;
  box-shadow: -10px 10px 0 10px rgba(71, 62, 62, 0.35),
    -20px 20px 0 20px rgba(32, 28, 28, 1);
}
.about-content {
  width: 30rem;
  margin-left: 1.25rem;
  p {
    font-family: var(--poppins);
  }
  h2 {
    color: var(--light-color);
    font-family: var(--exo2);
  }
}

// COLLECTION

.collection {
  h3 {
    font-family: var(--poppins);
  }
  .collection-title {
    color: var(--light-color);
    font-family: var(--exo2);
  }
  img {
    width: 325px;
    height: 325px;
    border: 5px solid var(--light-color);
    border-radius: 50%;
  }
}

// PRODUCTS

.product {
  h3 {
    font-family: var(--poppins);
  }
  .product-title {
    color: var(--light-color);
    font-family: var(--exo2);
  }
  img {
    width: 250px;
    height: 500px;
    border: 5px solid var(--light-color);
  }
}

// COMPANY FACTS

.company-facts {
  // background: url(../images/cusImg.png) no-repeat center;
  position: relative;
  width: 100%;
  height: 400px;
  // background-size: cover;
  .facts-content {
    position: absolute;
    z-index: 2;
    font-family: var(--poppins);

    .facts-title {
      width: 280px;
      background-color: rgba(222, 191, 157, 0.49);
      font-family: var(--exo2);
    }
  }
}

// Enquiry

.enquiry {
  section,
  a {
    color: var(--light-color);
    font-family: var(--poppins);
  }
  a {
    border: 1px solid var(--light-color);
    &:hover {
      background: var(--light-color);
    }
  }
}

// FOOTER

footer {
  h3 {
    font-family: var(--exo2);
    text-transform: uppercase;
    color: var(--light-color);
  }
  h2, a {
    font-family: var(--poppins);
    font-weight: normal;
    &:hover:not(h2){
      color: var(--light-color);
    }
  }

  .company-link {
    border-bottom: 2px solid var(--light-color);
  }
  
  .social {
    svg {
      padding: 1px;
      &:hover {
        background: var(--light-color);

      }
    }
  }

}

@media (max-width: 800px) {
  .nav-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%);
    transition: transform 0.3s;
    li {
      margin: 10px 0;
      a {
        display: inline-block;
        font-size: 20px;
        padding: 8px 20px;
        margin: 1px;
        transition: all 0.3s;
        &:hover,
        .active {
          transform: scale(1.3);
          transition: all 0.3s;
          border: 0;
        }
      }
    }
    &:last-child {
      a {
        background-color: var(--black);

        &:hover {
          border: 0;
          color: var(--hover-color);
        }
      }
    }
  }

  .humberger {
    display: flex;
    z-index: 999;
  }

  #humberger-toggle:checked ~ .nav-list {
    transform: none;
  }

  #humberger-toggle:checked ~ .humberger .bar::before {
    transform: rotate(45deg);
  }
  #humberger-toggle:checked ~ .humberger .bar {
    background-color: transparent;
  }
  #humberger-toggle:checked ~ .humberger .bar::after {
    transform: rotate(-45deg);
  }
  .about-img {
    width: 90%;
    margin-right: 0;
  }
  .about-content {
    width: 90%;
    margin-left: 0;
    margin-top: 4rem;
    text-align: center;
  }
  .about {
    box-sizing: border-box;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }
  .company-facts {
    // background: url(../images/cusImg.png) no-repeat center;
    // position: relative;
    width: auto;
    height: 600px;
    // background-size: cover;
  }
.landing {
  height: 274px;
  background-position: top;
  background-size: contain;
}

}
